//- @page: All
//- @confluence: https://horizontal.atlassian.net/wiki/display/RJADV/Component+-+Niche+Tiles

.col-md-4
    h2 Niche Tile Title
    p Niche Tile Description
.col-md-4
    h2 Niche Tile Title
    p Niche Tile Description
.col-md-4
    h2 Niche Tile Title
    p Niche Tile Description