//- @page: All
//- @confluence: https://horizontal.atlassian.net/wiki/display/RJADV/Component+-+Team+Tile


.col-md-4
    h2 Team Tile Title
    p Team Tile Description
.col-md-4
    h2 Team Tile Title
    p Team Tile Description
.col-md-4
    h2 Team Tile Title
    p Team Tile Description