//- @Layout: This is the base layout for all pages.
//- Includes head tags
doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

    block links
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" media="all" href="../css/main.css")
    
  body
      include ../global/global--header.jade

      <!-- CONTENT -->
      block content
      <!-- /CONTENT -->

      include ../global/global--footer.jade